.block-title-wrapper {
    position: relative;
    margin-bottom: 32px;
    padding-left: 32px;
    color: #6a6a77;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
}

.block-title-wrapper::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
    width: 6px;
    height: 40px;
    background-color: #6190e8;
    box-shadow: 0 16px 32px 0 rgb(97 144 232 / 20%);
    border-radius: 1px;
}
